/* @ts-nocheck */
@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-button {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s;
}
.glow-button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.glow-green-button {
  box-shadow: 0 0 10px rgba(34, 197, 94, 0.7);
  transition: box-shadow 0.3s;
}
.glow-green-button:hover {
  box-shadow: 0 0 20px rgba(34, 197, 94, 0.9);
}
.glow-green-button {
  box-shadow: 0 0 10px rgba(34, 197, 94, 0.7);
  transition: box-shadow 0.3s;
}
.glow-green-button:hover {
  box-shadow: 0 0 20px rgba(34, 197, 94, 0.9);
}
.glow-yellow-button {
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
  transition: box-shadow 0.3s;
}
.glow-yellow-button:hover {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.9);
}
.glow-yellow-button {
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
  transition: box-shadow 0.3s;
}
.glow-yellow-button:hover {
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.9);
}